/* src/styles/App.css */
.App {
    text-align: center;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    margin-right: 10px;
  }
  
  form input, form select {
    padding: 5px;
  }